body {
    background-color: cornflowerblue;
    width: 80%;
    margin: auto;
}

legend {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: cornflowerblue;
}

fieldset {
    border-radius: 6px;
    background-color: bisque;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,
}
p{
    background-color: aliceblue;
}

input {
    margin: 1%;

}
button{
    margin: 2%;
}
