body{
    width: 80%;
    margin: auto;
    background-color: rgb(46, 150, 19);
}
h1{
    text-align: center;
    color: rgb(185, 9, 9);
}
p{
    font-size: x-large;
}
table,tr,th,td{
    border: 5px solid rgb(6, 41, 197);
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
    font-size: larger;
}
button{
    margin: 2%;
}